.loader-container{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 25px;
}
.dots-loader {
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
}
.dots-loader span {
  width: 10px;
  height: 10px;
  background-color: #64ffda;
  border-radius: 50%;
  animation: bounce 0.6s infinite alternate;
}
.dots-loader span:nth-child(2) { animation-delay: 0.2s; }
.dots-loader span:nth-child(3) { animation-delay: 0.4s; }

@keyframes bounce {
  to {
    transform: translateY(-10px);
    opacity: 0.6;
  }
}
